
.idea/
.DS_Store

*.zip

/assignment_02/ex01/pi_seq
/assignment_02/ex01/pi_mpi

/assignment_02/ex02/heat_stencil_1D_seq
/assignment_02/ex02/heat_stencil_1D_mpi

/assignment_03/ex01/heat_stencil_1D_seq
/assignment_03/ex01/heat_stencil_1D_mpi
/assignment_03/ex01/heat_stencil_2D_seq
/assignment_03/ex01/heat_stencil_2D_mpi
/assignment_03/ex01/heat_stencil_3D_seq
/assignment_03/ex01/heat_stencil_3D_mpi
/assignment_03/ex01/heat_stencil_checker
/assignment_03/ex01/1D-output-seq.dat
/assignment_03/ex01/1D-output-mpi.dat
/assignment_03/ex01/2D-output-seq.dat
/assignment_03/ex01/2D-output-mpi.dat
/assignment_03/ex01/3D-output-seq.dat
/assignment_03/ex01/3D-output-mpi.dat

/assignment_04/ex01/pi_openmp
/assignment_04/ex01/pi_seq
/assignment_04/ex02/heat_stencil_omp

/assignment_05/nBody2D

output.dat
